= f.inputs :name => "Absence Sick Information" do

	= f.input :sick_days, :label => "Total Absence or Sick Days", :hint => "Annually for all employees"
	= f.input :employee, :as => :hidden
	= f.input :average_sick_days, :label => "Average Sick Days per Employee", :hint => "This value will automatically update", :input_html => { :disabled => true }
