= f.inputs :name => "Absence Sick Information" do

	= f.input :sick_days, :label => "Total Absence or Sick Days", :hint => "Annually for all employees"
	= f.input :employee, :as => :hidden
	= f.input :average_sick_days, :label => "Average Sick Days per Employee", :hint => "This value will automatically update", :input_html => { :disabled => true }
	
	/ %li.string.optional#calculator_average_sick_days_input
	/ 	= label_tag 'calculator_average_sick_days', 'Average Sick Days per Employee'
	/ 	= text_field_tag 'calculator_average_sick_days', '', :name => 'calculator[average_sick_days]', :size => 50, :disabled => true
	/ 	%p.inline-hints This value will automatically update	