= f.inputs :name => "Employee Details" do

	= f.input :salary, :label => "Total Salary Costs (£)", :hint => "Annual sum of salaries for all employees"
	= f.input :employee, :label => "Total No. of Employees", :hint => "Total number of employees in your company"
	= f.input :average_salary, :label => "Average Salary per Employee (£)", :hint => "(value will update automatically)", :input_html => { :disabled => true }