= f.inputs :name => "Sales, Business & Production Losses" do

	= f.input :revenue, :label => "Total Sales & Revenue Losses (£)"
	= f.input :employee, :as => :hidden
	= f.input :revenue_employee, :label => "Average Sales & Revenue Loss per Employee", :hint => "This value will automatically update", :input_html => { :disabled => true }
