%p
  %b Total salaries:
  = @calculator.salary
%p
  %b Total number of employees:
  = @calculator.employee
%p
  %b Average sick days per year:
  = @calculator.sick_days
%p
  %b Total lost revenue per year:
  = @calculator.revenue